<mat-card
  class="pokemon-card clickable"
  *ngIf="pokemon && pokemon.name"
  routerLink="/pokemons/details/{{ pokemon.name }}"
>


     <mat-card-footer class="pokemon-font pokemon-bialy">
       tekst
     </mat-card-footer>
     
     <mat-card-footer class="pokemon-font pokemon-name">{{

       pokemon.name

     }}</mat-card-footer>



 <img mat-card-image 

      [src]="pokemon.imageUrl || defaultImageSrc" />

 <mat-card-footer 

    class="pokemon-type pokemon-font" 

    [ngClass]="pokemon.type">

   {{ pokemon.polishType }}

 </mat-card-footer>

</mat-card>
